<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>HanghaeMusic99</title>

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <style>
        * {
          font-family: "Nanum Pen Script", cursive;
          box-sizing: border-box;
        }
        .title-form {
          width: 100%;
          height: 250px;

          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url("https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg");
          background-position: center;
          background-size: cover;

          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          {#font-size: xx-large;#}
        }
        .title{
            position: relative;
            font-size: 6rem;
        }
        .title-form > p{
            font-size: xx-large;
        }

        .list {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 1800px;
        }

        #morebtn {
            margin-top: 20px;
            position: absolute;
            left: 50%;
            display: none;
        }


    </style>

    <script>
            $(document).ready(function () {
                searching()
            });
            function searching() {
              limit = 10;
              init = 0;
              $("#musicList").empty();
              listing(limit, init);
            }

            function listing(limitLength, initLength) {
              $.ajax({
                type: "GET",
                url: "/music_list",
                data: {},
                success: function (response) {
                    console.log(response)
                  let rows = response["musics"];
                  if (limitLength < rows.length) {
                    for (let i = initLength; i < limitLength; i++) {
                      let title = rows[i]["title"];
                      let artist = rows[i]["artist"];
                      let album = rows[i]["album"];
                      let image = rows[i]["image"];
                      let number = rows[i]["number"]
                        let rank = rows[i]['rank']
                      let temp_html = `<div class="col">
                                        <div class="card h-100">
                                          <a href=/detail/${number}>
                                            <img src="${image}" class="card-img-top" alt="...">
                                          </a>
                                          <div class="card-body">
                                           <h3 class="card-rank">${rank}위</h3>
                                            <h5 class="card-title">${title}</h5>
                                            <p class="card-text">${artist}</p>
                                            <p class="card-text">${album}</p>
                                          </div>
                                        </div>
                                      </div>`;

                      $("#musicList").append(temp_html);
                      $("#morebtn").show();
                    }
                  } else {
                    for (let i = initLength; i < rows.length; i++) {
                      let title = rows[i]["title"];
                      let artist = rows[i]["artist"];
                      let album = rows[i]["album"];
                      let image = rows[i]["image"];
                      let rank =rows[i]['rank']
                      let temp_html = `<div class="col">
                                        <div class="card h-100">
                                          <img src="${image}" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <h3 class="card-rank">${rank}위</h3>
                                            <h5 class="card-title">${title}</h5>
                                            <p class="card-text">${artist}</p>
                                            <p class="card-text">${album}</p>
                                          </div>
                                        </div>
                                      </div>`;
                      $("#musicList").append(temp_html);
                      $("#morebtn").hide();
                    }
                  }
                },
              });
            }
            function moreListing() {
              listing((limit += 10), (init += 10));
            }
            function sign_out() {
                $.removeCookie('mytoken', {path: '/'});
                alert('로그아웃!')
                window.location.href = "/login"
            }


    </script>
</head>

<body>
<div class = title-form>
    <div class="form-floating mb-3">
        <div class = title id ="title">HanghaeMusic99</div>
    </div>
    <p>안녕하세요 {{ user_info.username }} 님 <button onclick="sign_out()" type="button" class="btn btn-danger">로그아웃</button></p>
</div>
<div class="list" id="list">
    <div class="row row-cols-1 row-cols-md-5 g-4" id="musicList">
{#  <div class="col">#}
{#    <div class="card h-100">#}
{#      <img src="..." class="card-img-top" alt="...">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">Card title</h5>#}
{#        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#  <div class="col">#}
{#    <div class="card h-100">#}
{#      <img src="..." class="card-img-top" alt="...">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">Card title</h5>#}
{#        <p class="card-text">This is a short card.</p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#  <div class="col">#}
{#    <div class="card h-100">#}
{#      <img src="..." class="card-img-top" alt="...">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">Card title</h5>#}
{#        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#  <div class="col">#}
{#    <div class="card h-100">#}
{#      <img src="..." class="card-img-top" alt="...">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">Card title</h5>#}
{#        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
</div>
</div>
</div>

</div>
<button onclick="moreListing()" type="button" class="btn btn-outline-dark" id="morebtn">더 보기</button>
<footer style="margin-bottom: 20px"></footer>
</body>
</html>